# Dependencies
node_modules
*/node_modules

# Environment Variables
.env
.env.*
!.env.example
backend/.env
frontend/.env

# Next.js Build Output
.next
out

# Backend Build Output
dist
backend/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
